<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <div class="header-background">
        <h3 class="redberries-logo">
            REDBERRIES
        </h3>
        <input type="text" class="search_all_site" placeholder="Поиск">
        <div class="nav-buttons">
            <button class="nav-1"></button>
            <button class="nav-2"></button>
            <button class="nav-3"></button>
            <button class="nav-4"></button>
        </div>
    </div>
</header>
<div style="position: absolute; margin-top: 6%; margin-left: 1%;">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>